
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
.checkout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: darkgreen;
}

.header-nav-container {
    background-image: url('headerimg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: to add a semi-transparent overlay */
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: to add a semi-transparent overlay */
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkslategrey;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

/* Order Section */
#order-list {
    list-style-type: none;
    padding: 0;
}

#order-list li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#order-total {
    font-weight: bold;
    margin-top: 20px;
}

#checkout-btn {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout-btn:hover {
    background-color: darkgreen;
}
