body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

.header-nav-container {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: to add a semi-transparent overlay */
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkslategrey;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

/* Recommendations Section */
.recommendations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.recommendations .menu-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(30% - 20px);
    text-align: center;
}

.recommendations .menu-item img {
    max-width: 100%;
    height: auto;
}

.recommendations .menu-item h3 {
    margin: 10px 0;
}

.recommendations .menu-item p {
    color: #777;
}

.recommendations .menu-item .add-to-cart-btn {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recommendations .menu-item .add-to-cart-btn:hover {
    background-color: darkgreen;
}

.browse-more {
    text-align: center;
    margin-top: 20px;
}

.browse-more .browse-more-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.browse-more .browse-more-btn:hover {
    background-color: green;
}

